/* DirectMyFile CSS. */

/* Tablets and above. */
@media (min-width: 768px) {
    .pure-menu li a:hover {
        border-radius: 5px;
    }
    .no-right-radius a:hover {
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
    .header-title {
        padding-right: 15px;
    }
}

/* Phones and other small devices. */
@media (max-width: 767px) {
    .pure-menu li a:hover {
        border-radius: 0px !important;
    }
    .header-title {
        font-size: 2.4em;
        text-align: center !important;
    }
    .copy-block {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
}

/* Elements */
body {
	font-family: 'Open Sans';
	color: rgb(60, 60, 60);
	text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
}
a:hover {
	color: #ffffff;
}
h3 {
    margin-left: 14px;
}
li {
    text-align: left;
}


/* Typography */
.header-title {
    display: inline-block;
}
.hero-title {
	text-align: center;
	font-weight: 300;
	height: auto;
}
.hero-body {
    text-align: center;
}
.icon {
    text-align: center;
}
.contact-button {
    font-size: 130%;
    display: block;
    margin-left: 150px;
    margin-right: 150px;
}
.button-nav {
    font-size: 130%;
    float: right;
    margin-top: 10px;
}
.blockquote {
    font-family: 'Finger Paint', cursive;
}
.kaend {
    display: inline-block;
}
h4 {
    font-weight: 300;
}
.kaend a {
    text-align: left;
}


/* Images */
.banner {
    display: inline-block;
    box-sizing: border-box;
    background: url(https://lh5.googleusercontent.com/-bhKOdk-OQeo/AAAAAAAAAAI/AAAAAAAABtI/PlQlULfjm6s/s120-c-a/photo.jpg) no-repeat;
    width: 120px;
    height: 120px;
    padding-left: 120px;
    overflow: hidden;
    border-radius: 60px;
}


/* Positioning and Content Blocks */
.side-padding {
    padding-left: 90px;
    padding-right: 90px;
}
.thin-hr {
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
    border-bottom: solid 1px #ffffff;
}
.info-block {
    padding-top: 30px;
    padding-bottom: 30px;
}
.copy-block {
    color: white;
    margin-top: 50px;
    background-color: rgb(50, 50, 50);
    text-align: center;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.9);
}


/* Pure Tweaks */
.pure-menu-links {
    text-align: left;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
    background-color: transparent !important;
    border-right: solid 1px white;
}
.pure-menu-heading {
    text-decoration: underline !important;
}
.pure-menu-links a, .pure-menu-nav a, .pure-menu-heading, .pure-menu-links, .pure-menu-links li:after {
    color: white !important;
    border-bottom-color: transparent !important;
}
.pure-menu li a:hover {
    background-color: rgb(0, 120, 231);
}
.pure-menu-nav {
    border: 0 !important;
    background: rgb(95, 198, 218) !important;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}