			body {
				font-family: 'Open Sans';
				color: rgb(60, 60, 60);
				text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
			}
			a:hover {
				color: white;
			}
			.hero-unit {
				padding-top: 30px !important;
			}
         .no-bullets {
             list-style-type: none;
         }
         .header-title {
         	display: inline-block;
         	padding-right: 15px;
         }
			.hero-title {
				text-align: center;
				font-weight: 300;
				height: auto;
			}
			.hero-body {
				text-align: justify;
			}
         .hero-body-center {
            text-align: justify;
         }
			h3 {
				margin-left: 14px;
			}
			.icon {
				text-align: center;
			}
			.side-padding {
			   padding-left: 90px;
				padding-right: 90px;
			}
			.info-block {
				padding-top: 30px;
				padding-bottom: 30px;
			}
			.copy-block {
				color: white;
				margin-top: 50px;
				background-color: rgb(50,50,50);
				text-align: center;
				box-shadow: inset 0 0 10px rgba(0,0,0,0.9);
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;
			}
			.contact-button {
				font-size: 130%; 
				display: block; 
				margin-left: 150px; 
				margin-right: 150px;
			}
			.blockquote {
				font-family: 'Finger Paint', cursive;
			}
			.pure-menu-links {
				text-align: left;
				border-left: none !important;
				border-top: none !important;
				border-bottom: none !important;
				background-color: transparent !important;
				border-right: solid 1px white;
			}
			.pure-menu-heading {
				text-decoration: underline !important;
			}
			.pure-menu-links a, .pure-menu-heading .pure-menu-links .pure-menu-can-have-children>li:after {
				color: white !important;
				border-bottom-color: transparent !important;
			}
			.banner {
				display: inline-block;
  				-moz-box-sizing: border-box;
  				box-sizing: border-box;
  				background: url(https://lh5.googleusercontent.com/-bhKOdk-OQeo/AAAAAAAAAAI/AAAAAAAABtI/PlQlULfjm6s/s120-c-a/photo.jpg) no-repeat;
  				width: 120px;
  				height: 120px;
  				padding-left: 120px;
  				overflow: hidden;
  				border-radius: 60px;
			}
			.kaend {
				display: inline-block;
			}
			h4 {
				font-weight: 300;
			}
			.kaend a {
				text-align: left;
			}
			.pure-menu li a:hover {
    			background-color: rgb(0, 120, 231);
    			border-radius: 5px;
			}
			.no-right-radius a:hover {
				border-top-right-radius: 0px !important;
				border-bottom-right-radius: 0px !important;
			}